:root
{
	/* Colors from Solarized by Ethan Schoonover */
	--base03:  #002b36;
	--base02:  #073642;
	--base01:  #586e75;
	--base00:  #657b83;
	--base0:   #839496;
	--base1:   #93a1a1;
	--base2:   #eee8d5;
	--base3:   #fdf6e3;
	--yellow:  #b58900;
	--orange:  #cb4b16;
	--red:     #dc322f;
	--magenta: #d33682;
	--violet:  #6c71c4;
	--blue:    #268bd2;
	--cyan:    #2aa198;
	--green:   #859900;
}

table
{
	display: inline-table;
	border-style: 0px;
}

th
{ 
	text-align: left;
	vertical-align: bottom;

	font-family: sans-serif;
	font-size: 2.5em;
	color: var(--base1);
}

td a { display: block; }

td
{
	text-align: left;
	vertical-align: bottom;

	font-family: sans-serif;	
	font-size: 2em;
	color: var(--base0);
}

th.FAsolid { font-family: "Font Awesome 5 Free" !important; font-style: "solid"; color: var(--cyan); }
th.FAreg { font-family: "Font Awesome 5 Free" !important; font-style: "regular"; color: var(--cyan);}
th.FAbrand { font-family: "Font Awesome 5 Brands" !important; font-style: "regular"; color: var(--cyan);}
th.emoji { font-family: sans-serif !important; font-style: "regular"; color: var(--cyan); }

td.FAsolid { font-family: "Font Awesome 5 Free" !important; font-style: "solid"; }
td.FAreg { font-family: "Font Awesome 5 Free" !important; font-style: "regular"; }
td.FAbrand { font-family: "Font Awesome 5 Brands" !important; font-style: "regular"; }
td.emoji { font-family: sans-serif !important; font-style: "regular"; }
td.weatherIcon { font-family: "Font Awesome 5 Free" !important; font-style: "solid"; font-size: 3em; text-align: right;}
td.weatherTemp { font-family: sans-serif !important; text-align: left; }
